extend layout

prepend title
  - var project = getProject(basename);
  - var title = project.short_title || project.title;

block inner
  
  //- block の外で project の値を求めると、name の値が未定義なのでエラーとなる
  - var project = getProject(basename);
  - var projectIndex = projects.indexOf(project);
  
  - var prevProject = projects.slice(projectIndex - 1)[0];
  - var nextProject = projects.slice(projectIndex + 1)[0] || projects[0];
  
  mixin project-menu
    .project-menu
      .back
        a(href=htmlPath('projects.html')) プロジェクト一覧
      .prev
        a(href=htmlPath('projects/' + prevProject.name + '.html'))
          != '&larr; ' + prevProject.title
      .next
        a(href=htmlPath('projects/' + nextProject.name + '.html'))
          != '&rarr; ' + nextProject.title

  section
    +project-menu
    
  section
    h1.page-title= project.title
    //-.line-wide
    #project-info
      p
        span= project.time
        span.bar |
        span= project.role.join(' / ')
  
  section
    if projectImagePaths.length
      img.project-image(
        src= '/' + projectImagePaths.shift(),
        alt= project.image_captions.shift() || ''
      )
    else
      img.project-image(src='http://placehold.it/1248x702')

  section
    if project.links
      ul.project-links
        each link in project.links
          li
            div= link.name
            a(href=link.url, target='_blank')= link.url
    
    if project.features
      ul.features
        each feature in project.features
          li.icon= feature

    .project-description
      hr.line-wide

      //-if(project.description)
        .icon.skill-other
      if (typeof project.description === 'string')
        p!= project.description
      else if Array.isArray(project.description)
        each paragraph in project.description
          p!= paragraph
        
  if (projectImagePaths.length)
    section.subsequent-images
      //-hr.line-wide
      each path, i in projectImagePaths
        img.project-image(
          src= '/' + path,
          alt= project.image_captions[i] || ''
        )
  
  section
    +project-menu
  
  block content
