extend layout

prepend title
  - var project = getProject(basename);
  - var title = project.short_title || project.title;

block inner
  
  //- block の外で project の値を求めると、name の値が未定義なのでエラーとなる
  - var project = getProject(basename);
  
  section
    h1.page-title= project.title
    //-.line-wide
    div.project-info
      p
        span= project.time
        span.bar |
        span= project.role.join(' / ')
  
  section
    ul.slider
      - for(var i=0; i < project.imageFileNum; i++)
        li
          img(src='/img/projects/' + basename + '/' + i + '.jpg')

  section
    if(project.links)
      ul.project-links
        each link in project.links
          li
            div= link.name
            a(href=link.url, target='_blank')= link.url
    
    - if(project.features)
      ul.features
        each feature in project.features
          li= feature
    
    //- 技術情報は Github に任せて、ここには掲載しないのも一手
    //- if(project.technologies)
      p.skill-code= project.technologies.join(', ')
    
    .project-description
      hr.line-wide
      p= project.description
  
  block content
