extend layout

prepend title
  - var project = getProject(basename);
  - var title = project.short_title || project.title;

block inner

  //- block の外で project の値を求めると、name の値が未定義なのでエラーとなる
  - var project = getProject(basename);
  - var projectIndex = projects.indexOf(project);
  
  - var prevProject = projects.slice(projectIndex - 1)[0];
  - var nextProject = projects.slice(projectIndex + 1)[0] || projects[0];
  
  mixin project-menu
    .project-menu
      //-a.back
        span.icon(href=htmlPath('projects.html'))
      a.next(href=htmlPath('projects/#{ nextProject.name }.html'))
        .icon
        div!= nextProject.title
      a.prev(href=htmlPath('projects/#{ prevProject.name }.html'))
        .icon
        div!= prevProject.title

  //-section
    +project-menu
  
  mixin lazyload-image(image, caption)
    .image-wrapper(
      style='padding-bottom: #{ 100 * image.height / image.width }%;')
      img.project-image(
        src= '/img/transparent.gif',
        data-original= '/' + image.path,
        alt= caption)
    noscript
      img.project-image(src= '/' + image.path, alt= caption)
  
  section
    if project.vimeo
      .video-wrapper
        iframe(
          src='//player.vimeo.com/video/#{ project.vimeo }',
          frameborder='0',
          webkitallowfullscreen,
          mozallowfullscreen,
          allowfullscreen)
    else if projectImages.length
      +lazyload-image(
        projectImages.shift(),
        project.image_captions.shift() || '')
    else
      img.project-image(src='http://placehold.it/1248x702')

  section
    #project-details
      if project.links
        table.links
          tbody
            each link in project.links
              tr
                td.key
                  a(href=link.url, target='_blank')
                    div= link.name
                td.value
                  a(href=link.url, target='_blank')
                    div
                      span= link.url

      #description
        block content
      
  if projectImages.length
    aside
      //-hr.line-wide
      each image, i in projectImages
        +lazyload-image(image, project.image_captions[i])
  
  section
    +project-menu
  
