---
template: default
title: Projects
---

section
  h1
    span.header-rect
    span.only-kana デザイン
    | &#x2005;/&#x2005;
    span.only-kana コンテンツ
    | 制作

section
  div#projects
    each proj in projects
      .project(itemscope, itemtype='http://schema.org/CreativeWork')
        - var _projPageUrl = htmlPath('projects/' + proj.name + '.html')
        - var _ext = proj.image_format || 'jpg'
        a.thumbnail(href= _projPageUrl)
          img(
            src= '/img/transparent.gif',
            data-original= '/img/thumbnails/#{ proj.name }.#{ _ext }'
            alt= 'サムネイル',
            itemprop='image')
        .caption
          .summary
            p.name(itemprop='name')= proj.short_title || proj.title
            .genre
              span= proj.genre.join(', ')
          .arrow
            a(href= _projPageUrl)
              .icon

section
  h1#subitem-title
    span.header-rect
    span.only-kana オープンソース・ソフトウェア

section
  ul#oss
    each oss_proj in oss
      li
        div
          a.oss-title(href= oss_proj.url, target='_blank')
            span= oss_proj.title
            .icon
          .oss-lang= oss_proj.languages.join(', ')
        .oss-description!= oss_proj.description

section
  h1
    span.header-rect
    span.only-kana オープンソース・プロジェクトへのコミット

mixin commits(commitData)
  - var _commits = commitData.sort(compareDate).reverse();
  ul.commits
    each commit in _commits
      li
        div
          div.repo-full-name
            - var _ownerUrl = 'https://github.com/' + commit.repo_owner;
            div.repo-title
              a(href=_ownerUrl, target='_blank')
                = commit.repo_owner
              span &nbsp;/&nbsp;
            div.repo-name
              a(href=_ownerUrl + '/' + commit.repo_name, target='_blank')
                = commit.repo_name
          .commit-type
            if commit.type === 'pull'
              span= 'Pull Request'
            else
              span Issue
        .commit-title
          a(href= commit.url, target='_blank')= commit.title

section
  #commits-selected
    +commits(commits_selected)
  div#show-more-commits
    span.icon
    span さらに表示
  #commits-rest
    +commits(commits_rest)
