---
template: default
title: Projects
pageClass: ''
---

section
  h1
    span.header-rect
    span.only-kana デザイン
    | &#x2005;/&#x2005;
    span.only-kana コンテンツ
    | 制作
  
section
  div#projects
    each proj in projects
      .project(itemscope, itemtype='http://schema.org/CreativeWork')
        - var _ext = proj.image_format || 'jpg'
        a.thumbnail(href= 'projects/#{ proj.name }.html')
          img(
            src= '/img/transparent.gif',
            data-original= '/img/projects/thumbnails/#{ proj.name }.#{ _ext }'
            alt= 'サムネイル',
            itemprop='image')
        .caption
          .summary
            p.name(itemprop='name')= proj.short_title || proj.title
            .genre
              span= proj.genre.join(', ')
          .arrow
            a(href= 'projects/' + proj.name + '.html')
              .icon

section
  h1#subitem-title
    span.header-rect
    span.only-kana オープンソース・ソフトウェア

section
  ul#commits
    each oss_proj in oss
      li
        div
          a(href= oss_proj.url, target='_blank')= oss_proj.title
        //-div
          a(href= oss_proj.url)= oss_proj.url
        div= oss_proj.description
        

section
  h1
    span.header-rect
    span.only-kana オープンソース・プロジェクトへのコミット
  
section
  ul#commits
    li
      a(
        href='https://github.com/silvestreh/onScreen/pull/8',
        target='_blank'
      ) silvestreh / onScreen
    li
      a(
        href='https://github.com/mizchi/TypedCoffeeScript/pull/31',
        target='_blank'
      ) mizchi / TypedCoffeeScript
    li
      a(
        href='https://github.com/tuupola/jquery_lazyload/pull/157',
        target='_blank'
      ) tuupola / jquery_lazyload
    li
      a(
        href='https://github.com/pbakaus/domvas/pull/6',
        target='_blank'
      ) pbakaus / domvas
    li
      a(
        href='https://github.com/Se7enSky/grunt-group-css-media-queries/issues/1',
        target='_blank'
      ) Se7enSky / grunt-group-css-media-queries
    li
      a(
        href='https://github.com/sindresorhus/screenfull.js/pull/39',
        target='_blank'
      ) sindresorhus / screenfull.js

      
      
